.navigation {
	padding-right: 173px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: relative;
	.navbar-toggler{
		border: none;
		background-color: transparent;
		position: absolute;
		top: 10px;
		right: 10px;
		display: none;
		visibility: hidden;
	}
	.logo{
		padding-top: 36px;
		display: inline-block;
	}
	nav{
		display: inline-block;
		ul{
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				position: relative;
				padding-top: 53px;
				&:before{
					position: absolute;
					content: '';
					height: 3px;
					width: 100%;
					background-color: $blue_color;
					top: 0;
					transform: scale(0);
					transition: all .3s ease;
				}
				&:hover{
					&:before{
						transform: scale(1);
					}
				}
			}
			li:not(:last-child){
				margin-right: 30px;
			}
		}
	}
	.email{
		display: inline-block;
		padding-top: 53px;
		a{
			&:hover{
				color: #fff;
			}
		}
	}

	.phone{
		padding-top: 53px;
		display: inline-block;
		.icon{
			display: inline-block;
			vertical-align: top;
			padding-right: 24px;
		}
		a{
			&:hover{
				color: #fff;
			}
		}
	}
}

@media screen and ( max-width: 1199px ) {
	.navigation{
		padding: .5rem 1rem;
		background-color: #343a40;
		flex-direction: column;
		.navbar-toggler{
			display: block;
			visibility: visible;
		}

		nav{
			display: none;
			visibility: hidden;
			&.active{
				display: block;
				visibility: visible;
			}
			ul{
				li{
					&:first-child{
						padding-top: 1rem;
					}
					display: block;
					padding: .5rem 0;
					&:hover{
						&:before{
							transform: scale(0);
						}
					}
				}
			}
		}

		.email, .phone{
			display: none;
			visibility: hidden;
			padding-top: .5rem;
			&.active{
				display: block;
				visibility: visible;
			}
		}

		.logo{
			padding-top: 0;
		}
	}
}