.contact-content {

	margin-top: 81px;
	padding-right: 171px;

	.form-p{
		color: #000408;
		font-size: 14px;
		font-weight: 400;
		line-height: 29px;
	}

	form{
		input{
			width: 100%;
			background-color: #f9f9f9;
			margin-bottom: 25px;
			border: 2px solid rgba(0,0,0,0.2);
			box-shadow: 1px 8px 13px rgba(2, 3, 4, 0.15);
			border-radius: 5px;
			padding: 10px 25px;
			font-size: 14px;
			color: #000;
			caret-color: #0494ef;
			&::-webkit-input-placeholder{
				color: #000;
			}
			&:focus{
				border: 2px solid #0494ef;
			}
		}
		button{
			border: none;
			color: #fff;
			margin-top: 63px;
		}
	}

	#map{
		.ymaps-layers-pane {
		    filter: grayscale(1);
		    -ms-filter: grayscale(1);
		    -webkit-filter: grayscale(1);
		    -moz-filter: grayscale(1);
		    -o-filter: grayscale(1);
		}
		display: block;
		height: 371px;
		iframe{
			width: 100%;
		}

	}

	.info{
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		span{
			&.address{
				color: #232323;
				font-weight: 400;
				font-size: 14px;
				line-height: 25px;
			}
			&.city{
				font-weight: 700;
			}
		}
		.phone-email{
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			font-weight: 700;

			a:not(:last-child){
				.pt{
					color: #dddddd;
					text-shadow: 0 0 2px rgba(0,0,0,0.6);
				}
				font-size: 50px;
				color: #232323;
			}
			a:last-child{
				font-size: 14px;
				line-height: 25px;
				color: #232323;
				font-weight: 700;
			}
		}
	}
}

[class*=ymaps-2][class*="-ground-pane"] {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    -webkit-filter: invert(0) grayscale(100%) brightness(100%);
    -moz-filter: invert(0) grayscale(100%) brightness(100%);
    -o-filter: invert(0) grayscale(100%) brightness(100%);
    filter: invert(0) grayscale(100%) brightness(100%)
}

@media screen and (max-width: 1360px){
	.contact-content{
		.info{
			.phone-email{
				a{
					&:not(:last-child){
						font-size: 3rem;
					}
				}
			}
		}
	}
}

@media screen and (max-width: 1275px){
	.contact-content{
		.info{
			.phone-email{
				a{
					&:not(:last-child){
						font-size: 2.6rem;
					}
				}
			}
		}
	}
}

@media screen and ( max-width: 1199px ) {
	.contact-content{
		margin-top: 20px;
	}
	.contact-content, .contact-title{
		padding-right: .5rem;
		padding-left: .5rem;
	}
	.contact-title .sub-title{
		display: none;
		visibility: hidden;
	}
}

@media screen and (max-width: 991px) {
	.contact-content{
		padding-bottom: 1rem;
		.btn-custom{
			width: 100%;
			margin-top: 1rem;
		}
	}
}

@media screen and ( max-width: 895px ) {
	.contact-content{
		.info{
			.phone-email{
				a:not(:last-child){
					font-size: 2rem;
				}
			}
		}
		.btn-custom{
			padding-right: 0;
			padding-left: 0;
		}
		.form-p{
			text-align: center;
		}
	}
}

@media screen and ( max-width: 767px ) {
	.contact-content{
		.btn-custom{
			margin-bottom: 2rem;
		}
	}
}

@media screen and (max-width: 675px){
	.contact-title{
		.h1{
			margin-right: 0;
			font-size: 3rem;
			text-align: center;
			width: 100%;
		}
	}
}

@media screen and (max-width: 545px){
	.contact-title{
		.h1{
			font-size: 2.5rem;
		}
	}
}

@media screen and ( max-width: 519px ) {
	.contact-content{
		.info{
			.span.address span{
				font-size: .8rem;
			}
			.phone-email{
				a:not(:last-child){
					font-size: 1rem;
				}
				a:last-child{
					font-size: .8rem;
				}
			}
		}
	}
}

@media screen and (max-width: 467px){
	.contact-title{
		.h1{
			font-size: 2rem;
		}
	}
}

@media screen and (max-width: 369px){
	.contact-title{
		.h1{
			font-size: 1.5rem;
		}
	}
}

@media screen and (max-width: 347px) {
	.contact-content{
		.info{
			span.address{
				display: none;
				visibility: hidden;
			}
			.phone-email{
				align-items: flex-end;
				width: 100%;
			}
		}
	}
}