// $font-family: "San Francisco", -apple-system, BlinkMacSystemFont, "Roboto",
//   "Ubuntu", "Droid Sans", "Helvetica Neue", "Arial", sans-serif;
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900&display=swap&subset=cyrillic');
$font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;

// $custom-font: "Roboto";

$font-size: 14px;
$line-height: 1.65;

// H-sizing
$font-size--h1: 40px;
$font-size--h2: 35px;
$font-size--h3: 30px;
$font-size--h4: 25px;
$font-size--h5: 20px;
$font-size--h6: 20px;

/* Colors */
$blue_color: #0494ef;


body {
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height;
  // font-family: $custom-font, $font-family;
  color: $text-color;
}

h1 {
  font-size: $font-size--h1;
  font-weight: 700;
  color: #fff;
  // line-height: ;
}

h2 {
  font-size: ($font-size--h2);
  font-weight: 700;
  // line-height: ;
}

h3 {
  font-size: $font-size--h3;
  font-weight: 700;
  // line-height: ;
}

h4 {
  font-size: $font-size--h4;
  font-weight: 700;
  // line-height: ;
}

h5 {
  // font-size: $font-size--h5;
  // font-weight: 700;
  // line-height: ;
}

h6 {
  // font-size: $font-size--h6;
  // font-weight: 700;
  // line-height: ;
}

b,
strong {
  font-weight: 700;
}

button {
  // font-family: $custom-font, $font-family;
}

a{
  color: #fff;
  transition: all .3s ease;
  text-decoration: none;
  &:hover{
    color: $blue_color;
    text-decoration: none;
  }
}

.wrapper{
  padding-left: 171px !important;
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
}

.blue-color{
  color: $blue_color;
}

.team{
  background: #000;
  .team-foot{
    padding-top: 107px;
  }
}

.service, .portfolio, .contact{
  background-color: #f9f9f9;
  .navigation{
    nav{
      ul{
        li{
          a{
            color: #000;
            &:hover{
              color: $blue_color;
            }
          }
        }
      }
    }
    .email{
      a{
        color: #000;
        &:hover{
          color: #000;
        }
      }
    }
    .phone{
      a{
        color: #000;
        &:hover{
          color: #000;
        }
        .blue_color{
          color: #000;
          font-weight: 700;
        }
      }
    }
  }
}

.btn-custom{
  box-shadow: 0 9px 24px rgba(104, 38, 240, 0.3);
  border-radius: 41px;
  background-image: linear-gradient(-183deg, #0abff0 0%, #0556ef 100%);
  padding: 27px 69px 27px 43px;
  font-size: 17px;
  &:hover{
    color: #fff;
  }
}