.page-header {

	margin-top: 237px;

	.main-info{
		position: relative;
		max-width: 597px;
		.p{
			font-size: 18px;
			font-weight: 400;
			line-height: 29px;
			color: #fff;
		}
		.h1{
			line-height: 65px;
			font-size: 63px;
			margin-bottom: 90px;
		}

		.btn-custom{
			position: absolute;
			right: 0;
		}
	}

}
