.team-title {

	color: #fff;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 84px;
	padding-bottom: 43px;
	h1{
		margin: 0;
		padding-right: 74px;
		font-size: 55px;
		line-height: 64.35px;
		color: #151515;
		font-weight: 700;
		span{
			color: #0494ef;
		}
	}

	.sub-title{
		color: #ffffff;
		height: 18px;
		font-size: 18px;
		line-height: 29px;
		font-weight: 400;
		opacity: 0.51;
	}

}
