.service-title, .portfolio-title, .contact-title {

	display: flex;
	align-items: center;
	justify-content: flex-start;
	padding-top: 84px;

	.h1{
		margin-right: 54px;
		font-size: 55px;
		line-height: 64.35px;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 0;
		color: #f2f2f2;
		&:not(span){
			text-shadow: 0 0 1px rgba(0,0,0,0.4);
		}
		span{
			color: #0494ef;
		}
	}

	.sub-title{
		color: #000;
		opacity: 0.51;
		font-size: 18px;
		font-weight: 400;
		line-height: 29px;
	}

}
